<bibliolib-filter
    [mode]="mode"
    (searchChange)="onSearchChange($event)">
</bibliolib-filter>

<bibliolib-filter
    [mode]="'filter'"
    [orderConfig]="orderConfig"
    [filterConfig]="filterConfig"
    [activeFilterList]="activeFilterList"
    [lang]="'fr-FR'"
    (orderChange)="onOrderChange($event)"
    (filterChange)="onFilterChange($event)"
    (searchChange)="onSearchChange($event)">
</bibliolib-filter>

<button (click)="changeFilterConfig()">Change filter</button>

<p>{{ filterConfig[1].label }}: {{ filterConfig[1].values.length }}</p>