<tui-root>
<!-- filter -->
<bibliolib-filter
    [mode]="'filter'"
    [orderConfig]="orderConfig"
    [filterConfig]="filterConfig"
    [activeFilterList]="activeFilterList"
    (orderChange)="onOrderChange($event)"
    (filterChange)="onFilterChange($event)"
    (searchChange)="onSearchChange($event)">
</bibliolib-filter>

<button (click)="changeFilterConfig()">Change filter</button>

<p>{{ filterConfig[1].label }}: {{ filterConfig[1].values.length }}</p>


<!-- datetime picker -->
<!-- <bibliolib-datetime-picker (dateChange)="onValueChange($event)" [currentDate]="dateSignal()" />

<button (click)="updateValue()">update</button> -->


<!-- gallery -->
<!-- <section class="gallery-container">
    <bibliolib-gallery [photoList]="images" />
</section> -->
</tui-root>